<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>User Form</h1>
<form th:action="@{success}" method="post" th:object="${studentForm}">
    <table>
        <tr>
            <td>
                <label>Student Name: </label>
            </td>
            <td>
                <input th:field="*{studentName}" type="text" name="studentName">
            </td>
        </tr>
        <tr>
            <td>
                <label>Student Email:</label>
            </td>
            <td>
                <input th:field="*{studentEmail}" type="text" name="studentEmail">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>